/* Ini CSS */

.head {
    background-color: #725483;
    width: 100%;
    height: 50px;
}

.body {
    background-color: #fffde7;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
}

.logo-icon {
    height: 90px;
    width: 94px;
    margin-left: 24px;
}

.nav-container {
    display: flex;
    text-align: center;
}

.nav-item {
    border: 0;
    padding: 8px;
    width: 96px;
    height: 50px;
    background-color: #725483;
    color: white;
}

.judul {
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
    font-size: 35px;
}

.juduldec{
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;

}

.main-content {
    display: flex;
    height: 624px;
    margin-top: 80px;
    
}

.profile{
    display: flex;
    text-align: center;
    align-items: flex-start;
    width: 295px;
    margin-left: 104px;


}


.nama-atas {
    text-align: left;
    margin-left: 13px;
}

.kesan-atas {
    font-size: 16px;
    margin-left: 13px;
    margin-top: 12px;
    width: 100%;
    text-align: left;

}

.kesan-atas-profile {
    font-size: 16px;
    margin-left: 13px;
    margin-top: -11px;
    width: 100%;
    text-align: left;

}

.labelreason {
    text-align: left;
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 33px;
    padding: 5px;
    width: 53%;

}

.item-icon{
    height: 43px;
    width: 43px;
    background-size: cover;
    border-radius: 50%;
}

.item-icon-atas{
    height: 43px;
    width: 43px;
    background-image: url(https://pbs.twimg.com/ext_tw_video_thumb/1520451477302648832/pu/img/if_7PsgTX-srh40D?format=jpg&name=900x900);
    background-size: cover;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 19px;
}

.main-content-kiri {
    width: 60%;
    height: 500px;
    margin-right: 0;
    
}

.main-banner-container {
    width: 100%;
    height: 417px;
    background-size: cover;
    display: ruby-text;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 12px;

}

.main-content-banner {
    width: 90%;
    height: 400px;
    background-size: cover;
}

.banner-1 {
    background-image: url(https://i.ytimg.com/vi/mymmhE-5uww/maxresdefault.jpg);
    width: 90%;
    height: 400px;
}

.banner-2 {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/112/810/353/5bd39f0420306-wallpaper-preview.jpg);
    width: 90%;
    height: 400px;
    
}

.banner-3 {
    background-image: url(https://i.pinimg.com/originals/22/94/94/2294941466088093da90f8c0534dd527.jpg);
    width: 90%;
    height: 400px;
    
}

.text{
    margin-bottom: 0px;
    margin-left: 114px;
    
}


.main-item {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 10px;

}
.nama {
    text-align: left;
    margin-left: 13px;
}

.kesan {
    margin-left: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65%;
    text-align: left;
}

.cover-form {
    width: 304px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #725483;
    margin: 13px;
    padding: 52px;
    margin-top: 0;
    color: white;
}


.main-content-kanan {
    width: 50%;
    height: 600px;
    display: flow;
    text-align: -webkit-center;
}

.formlabel {
    width: 200px;
    padding: 15px;
    padding-left: 0;
    margin: 0;
    margin-top: 10px;
    text-align: left;
}

.formdec {
    padding: 5px;
    margin-bottom: 46px;
    margin-top: -8px;
    margin-bottom: 30px;
    width: 90%;
    text-align: left;


}

input {
    width: 306px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #fffde7;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;

    
}

.groupname {
    text-align: left;
    padding: 5px;
}

.gender {
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 306px;
    background-color: #725483;
    color: #fffde7;
    border-color: #fffde7;
}

.submit {
    border: 0;
    color: #725483;
    font-size: 15px;
    width: 100%;
    background-color: #fffde7;
    margin-top: 25px;
    margin-bottom: 24px;
    padding: 14px;
    height: 55px;
}

.reason {

    text-align: center;
    align-items: center;
    padding: 10px;
    margin-left: 60px;


}


.package {
    text-align: center;
    background-color: #725483;
    color: white;
    padding: 60px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 37px;
    height: 50px;

}

.group {
    background-color: #fffde7;
    padding: 20px;
}

.group-atas {
    display: flex;
}
.group-bawah {
    display: flex;
    margin-top: 100px;

}

.profile-kesan {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    padding: 20px;
    margin-left: 46px;
    width: 65%;

}


.item-icon-kesan{
    margin-top: 10px;
    height: 50px;
    width: 90px;
    background-size: cover;
    border-radius: 50%;

}

.package-bawah {
    background-color: #725483;
    text-align: center;
    padding: 47px;;
    margin: 0;
    margin-top: 37px;
}

.package-bawah-label {
    margin: 0;
    padding-bottom: 10px;
    color: white;
    
}

.package-bawah-dec {
    padding-bottom: 48px;
    color: white;
    text-align: -webkit-center;


}

.button-bawah {
    border: 0;
    color: #725483;
    font-size: 15px;
    width: 30%;
    background-color: #fffde7;
    margin-top: -11px;
    margin-bottom: 12px;
    padding: 14px;
    height: 55px;

}

.hfoot {
    display: flex;
    justify-content: center;
}

.logo-foot {
        height: 90px;
        width: 94px;    
}

.foot1 {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin: 0;

}

.group-foot {
    background-color: #fffde7;
    display: grid;
    justify-items: center;
    margin-bottom: 27px;

}

.dec-bawah {
    display: flex;
    width: 100%;
    justify-content: center;
}










@media only screen and (max-width: 850px) {
    .head {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .nav-container {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .logo-icon {
        margin-bottom: 14px;
        margin-left: 0px;
    }

    .main-content{
        flex-direction: column;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .main-content-kiri{
        display: grid;
        width: 100%;
        height: 100%;
        justify-items: center;
    }

    .main-banner-container {
        display: contents;
        width: 100%;
        height: 417px;
        background-size: cover;
        margin-bottom: 5px;
        margin-top: 24px;
        margin-left: 61px;
        
    }
    .main-content-kanan{
        flex-direction: column;
        width: auto;
        height: 100%;
        display: grid;
        justify-content: space-around;
        margin-bottom: 100px;

  }

    .cover-form {
        margin: 0;
        display: grid;
        justify-content: center;
        align-content: space-evenly;
        width: 350px;
        height: 550px;
        margin-left: 30px;
        margin-right: 30px;
    }    


    .submit {
        margin-left: 0px;
        margin-right: 30px;
        width: 100%;


    }

    .main-item {
        display: flex;
        text-align: center;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 20px;
        }
    .item-icon {
        margin-left: 56px;
    }

    .group {
        display: flex;
        justify-content: center;
    }
    .group-atas {
        display: grid;
        margin-left: -7px;
    }

    .group-bawah {
        display: grid;
       margin: 0;

    }

    .profile-kesan {
        display: flex;
        text-align: center;
        flex-direction: row;
        align-items: stretch;
        padding: 20px;
        margin-left: 39px;
        width: 65%;
    }

    .item-icon-kesan {
        margin-top: 10px;
        height: 56px;
        width: 201px;
        background-size: cover;
        border-radius: 50%;
    }

    .text {
        margin-top: 10px;
        margin-bottom: 0px;
        display: contents;
    }

    .profiledec {
        width: 35px;
        height: 105px;
        text-align: center;
    }

    .profile {
        width: 295px;
        display: flex;
        text-align: center;
        align-items: flex-start;
        margin-bottom: 76px;
    
    }

    .kesan {
        margin-left: 13px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        text-align: left;
    }

    .labelreason {
        margin: 10px;
        margin-top: 3px;
        padding: 5px;
        text-align: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        margin-bottom: 24px;
        text-align: start;
    }

    .reason {
        text-align: center;
    align-items: center;
    padding: 10px;
    margin-left: 45px;
    margin-right: 45px;
    }

    .package {
        margin-top: 103px;
    }

    input {
        width: 100%;
        
    }

    .gender {
        width: 100%;
    }

}
